{{ template "chart.header" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "chart.description" . }}

{{ template "chart.valuesSection" . }}

## TODO

- [ ] Encryption
- [ ] Authentication
  - [ ] File
  - [ ] LDAP
  - [ ] SAML
- [ ] Redis sessions
- [ ] Bucket data